@model IEnumerable<MKSVY.Models.SubstaionList>
@{
    ViewBag.Title = "DashBoard Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table id="tblAEReason" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    TALUKA
                </th>
                <th>
                    S/DN
                </th>
                <th>
                    S/S Name
                </th>
                <th>
                    S/S Number
                </th>
                <th>
                    Solar Capacity (MW)
                </th>
                <th>
                    Land Required (Acre)
                </th>
                <th>
                    Govt Feasible Lands
                </th>
                <th>
                    Govt Feasible Lands Acre
                </th>
                <th>
                    Pvt Feasible Lands
                </th>
                <th>
                    Pvt Feasible Lands Acre
                </th>
                <th>
                    Proposal Submited Lands
                </th>
                <th>
                    Proposal Submited Acre
                </th>
                <th>
                    Possession RCVD Lands
                </th>
                <th>
                    Possession RCVD Area
                </th>
                <th>
                    Useful Lands in Possession(Acre)
                </th>
                <th>
                    Status
                </th>
                <th>
                    View
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<MKSVY.Models.SubstaionList>)ViewData["substaionLists1"])
            {
                <tr>

                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.TALUKA_NAME)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.SUBDIVISION)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.SUBSTATION_NAME)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.SUBSTATION_NO)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.SOLAR_CAPACITY_MW)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.LAND_REQUIRED_IN_ACRE)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.GOVT_FEASIBLE_LANDS)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.GOVT_FEASIBLE_LANDS_ACRE)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.PVT_FEASIBLE_LANDS)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.PVT_FEASIBLE_LANDS_ACRE)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.PROPOSAL_SUBMITED_LANDS)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.PROPOSAL_SUBMITED_ARCE)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.POSSION_RCVD_LAND)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.POSSION_RCVD_AREA)

                    </td>
                    <td style="width:10%">

                        @Html.DisplayFor(modelItem => item.USEFUL_LAND)

                    </td>

                    @if (item.LAND_REQUIRED_IN_ACRE == item.USEFUL_LAND)
                    {
                        <td style="width: 10%; background-color: green; color: black;font-weight: bold;">
                            Completed
                        </td>
                    }
                    else /*if(item.LAND_REQUIRED_IN_ACRE > item.USEFUL_LAND && item.USEFUL_LAND !="")*/
                    {
                        <td style="width: 10%; background-color: orange; color: black;font-weight: bold;">
                            Pending
                        </td>
                    }

                    <td style="width:10%">


                        @Html.ActionLink("Details", "Details", new { id = item.DIST_CODE }, new { @class = "btn btn-danger" })
                        @*<a href="#popupModel" role="button" id="ShowPopup" data-toggle="modal">View</a>*@

                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>